# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables (including credentials)
SetEnvironmentVariables.java

# class files not needed
/backend/out
/backend/.gradle
/backend/build/
fotball-dashboard/.eslintcache
